@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2c3e50;
  --primary-gradient-from: #00b4b4;
  --primary-gradient-to: #48bb78;
}

body {
  @apply bg-gray-50;
}

.btn-primary {
  @apply px-4 py-2 rounded-md bg-gradient-to-r from-teal-500 to-green-500 text-white hover:from-teal-600 hover:to-green-600;
}